$orange-button: #d2401e;
$orange-text: #d2401e;
$white : #ffffff;
$gold: #b7903c;
$gold-text: #b68a2c;
$light-gray:  #cdcdcd;
$red-orange: #ab4027;
$gray-special: #858585;
$bg-super-light-gary: #f7f7f2;
$footer-gray: #a6a6a6;
$green: #339966;